mbody{
    width:100%;
}
#table, #container, #inputDiv{
    display:flex;
}
#container, #inputDiv{
    flex-direction:column;
    align-items:center;
}
#container{
    height:auto;
    margin:5% 2%;
    font-family:'Mukta', sans-serif;
}
#table{
    justify-content: center;
}
#grid-size-div, #colour-change-div{
   margin:1% 0;
}
#grid-size-div input{
    width: 3em;
}
#row-num-div{
    display:flex;
    align-items:center;
    font-size: 10px;
}
#number-rows{
    height:10px;
    margin:0;
    margin-left:5px;

}
button, input{
    height: 3em;
}
button{
    border:1px solid rgb(94, 87, 87);
    margin:1px;
}
button:hover{
    border:1px ridge black;
}
#gridx, #gridy{
    width:3em;
    text-align: center;
}
h1, h3{
    text-align:center;
}
h1{
    font-size: 2em;
    margin:0px;
}
td,tr{
    border:1px solid black;
}
tr{
    height: 20px;
}
td{
    width: 20px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}

th{
    width: 15px;
    font-family: sans-serif;
    font-size:10px;
}

@media screen and (max-width:700px){
    #colour-change-div{
        display:grid;
        grid-template:50% 50%/ 50% 50%;
        gap:5%;
        align-items: center;
        margin: 5%;
    }
    #grid-size-div{
        width:100%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
}