body{
    width:100%;
    height:100%;
    font-family:'Trebuchet MS', sans-serif;
    background-image: repeating-linear-gradient(90deg, rgb(255,102,152) 0%, rgb(255,102,152) 3%, rgb(255,179,102) 3%, rgb(255,179,102) 6%, rgb(255,255,102) 6%, rgb(255,255,102) 9%, rgb(152,255,102) 9%, rgb(152,255,102) 12%, rgb(102,152,255) 12%, rgb(102,152,255) 15%, rgb(255, 251, 200) 15%, rgb(255, 251, 200) 100%);
}
#table, #container, #inputDiv, #user-guide, #row-num-div, #style, header, #colour-change-div, .colour-change{
    display:flex;
}
#container, #inputDiv, #user-guide, header{
    flex-direction:column;
    align-items:center;
}
#container, #style, header{
    width:80%;
    padding:40vh 0 40vh 15%;
}
#style{
    align-items:center;
    justify-content: space-evenly
}
footer{
    height:20px;
    width:100vw;
    background-color: #ff6698;
    margin:0;
    font-size:10px;
}
footer p{
    padding:3px;
}
#grid-size-div input{
    width: 3em;
    margin: 5px;
}
#row-num-div{
    align-items:center;
    font-size: 10px;
}
#number-rows{
    height:10px;
    margin:0;
    margin-left:5px;
}
#colour-change-div{
    flex-direction:column;
}
.colour-change{
    flex-direction:column;
    align-items:center;
} 
.colour-change input{
    width:75px;
}
.colour-change button{
    width:100px;
}
button, input{
    height: 3em;
}
button{
    border:1px solid rgb(94, 87, 87);
    margin:1px;
}
button:hover{
    border:1px ridge black;
}
#gridx, #gridy{
    width:3em;
}
h1, h3, #gridx, #gridy, footer, p{
    text-align:center;
}
h1, h2, p{
    color:#424447;
}
h1{
    font-size: 2em;
    margin:0px;
}
td,tr{
    border:1px solid black;
}
tr{
    height: 20px;
}
td{
    width: 20px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}

th{
    width: 15px;
    font-family: sans-serif;
    font-size:10px;
}
@keyframes animate {
    0% {color: #ff6698;}
    20% {color: #ffb366;}
    40% {color: #ffff66;}
    60% {color: #98ff66;}
    80% {color: #6698ff;}
    100% {color: #ff6698;}
  }
i{
    animation-name: animate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top:2%;
}
i:hover, button:hover{
    cursor: pointer;
}

@media screen and (max-width:700px){
    /* #colour-change-div{
        display:grid;
        grid-template:50% 50%/ 50% 50%;
        gap:5%;
        align-items: center;
        margin: 5%;
    } */
    /* #grid-size-div{
        width:100%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    } */
}
/* color scheme link https://www.color-hex.com/color-palette/5083 */