body{
    margin:0;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.colour{
    position:absolute;
    right:0px;
    height:50px;
    width:200vw;
    background-image: repeating-linear-gradient(200deg, rgb(255,102,152) 0%, rgb(255,102,152) 5%, rgb(255,179,102) 5%, rgb(255,179,102) 10%, rgb(255,255,102) 10%, rgb(255,255,102) 15%, rgb(152,255,102) 15%, rgb(152,255,102) 20%, rgb(102,152,255) 20%, rgb(102,152,255) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 100%);
}
.arrow{
    font-size:3em;
    position:absolute;
    right:50px;
    bottom:50px;
}
main{
    overflow: scroll;
}
#container{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: repeating-linear-gradient(230deg, rgb(255,102,152) 0%, rgb(255,102,152) 5%, rgb(255,179,102) 5%, rgb(255,179,102) 10%, rgb(255,255,102) 10%, rgb(255,255,102) 15%, rgb(152,255,102) 15%, rgb(152,255,102) 20%, rgb(102,152,255) 20%, rgb(102,152,255) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 100%);
}
#container h2, #style h2{
    font-size: 45px;
}
#container #grid-x, #container #grid-y{
    min-width: 60px;
    min-height:60px;
    height:8vh;
    width:25vw;
    margin: 0px 10px 5px 10px;
    text-align: center;
}
#container #row-num-div{
    display: flex;
    justify-content: center;
}
input[type=checkbox]{
    margin-top: 5.5px;
}
#grid-size{
    min-width: 100px;
    min-height:50px;
    border: solid 2px;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
}
#button, #bgButton{
    height:40px;
    width:120px
}
input[type=color]{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px black solid;
    outline: none;
    -webkit-appearance: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
#style{
    min-height:100vh;
    min-width:100vw;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(350deg, rgb(255,102,152) 0%, rgb(255,102,152) 3%, rgb(255,179,102) 3%, rgb(255,179,102) 6%, rgb(255,255,102) 6%, rgb(255,255,102) 9%, rgb(152,255,102) 9%, rgb(152,255,102) 12%, rgb(102,152,255) 12%, rgb(102,152,255) 15%, rgb(255, 255, 255) 15%, rgb(255, 255, 255) 100%);
}

/*TABLE STYLE*/

td,tr{
    border:1px solid black;
}
tr{
    height: 20px;
}
td{
    width: 20px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom:30px;
}
th{
    width: 15px;
    font-family: sans-serif;
    font-size:10px;
}
@keyframes animate {
    0% {color: #000000;}
    50% {color: #000000;}
    65% {color: #ffffff;}
    100% {color: #000000;}
}
span{
    animation-name: animate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
span:hover, button:hover{
    cursor: pointer;
}
#style span{
    font-size:3em;
}
.colour-change{
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colour-change button{
    margin-left: 20px;
    border:1px black solid;
}
#colour-change-div{
    margin-bottom: 20px;
}
@media screen and (max-width:760px){
    #user-guide{
       min-width:100vw;
   }
}
/* color scheme link https://www.color-hex.com/color-palette/5083 */